body, html {
    display: flex;
    justify-content: center;
    align-items: center;
  }

body{
    height: 569.33px;
    background-color: white;
}

html{
    height: 100%;
    background-color: black;
}

/*手機*/
@media (max-width: 1024px) {
    
}

/*電腦*/
@media (min-width: 1025px){
    
    canvas {
    background-color: white;
    }
    
    #container1 {
        position: relative;
    }

    #puzzleImage {
        position: absolute;
        top: -69px;
        left: 0;
    }
    
    #countdown {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #background{
        width: 450px;
        height: 450px;
    }
}






